.background {
  background-color: rgb(205, 205, 205);
}

.title {
  color: rgb(16, 87, 168);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whitefont {
  color: rgb(255, 255, 255);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.whitecontact {
  color: rgb(255, 255, 255);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.whitecontact {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.orangebox {
  height: 100px;
  width: 960px;
  background-color: rgb(160, 129, 73);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
  color: rgb(178, 178, 187);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}