.background {
  background-color: rgb(205, 205, 205);
}

.title {
  color: rgb(16, 87, 168);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.bluefont {
  color: rgb(12, 80, 147);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.redcontact {
  color: rgb(193, 0, 93);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.whitecontact {
  color: rgb(255, 255, 255);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.bluebox {
  height: 100px;
  width: 960px;
  background-color: rgb(12, 80, 147);
  border-style: solid;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

a:link {
  color: rgb(123, 123, 139);
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}